.button-button {
    cursor: pointer;
    background-color: #3498db;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ecf0f1;
}

.button-button:hover {
    background-color: #44a8eb;
}